mixin cards(content)
   section.cards__page.page.animated__page#cards
      .cards__container
         .cards__body
            each item in content
               a.card__container
                  if item.list 
                     ul.card__list
                        if item.list 
                           each list in item.list
                              li.card__list-paragraph 
                                 each value in list
                                    | #{value !== undefind ? value : ''}
                  if item.img 
                     .card__images
                        img.card__images-img(src=item.img !== undefind ? item.img : '', alt=item.alt !== undefind ? item.alt : '')
                  .card__content
                     .card__title
                        h2.card__title-h 
                           | #{item.title !== undefind ? item.title : ''}
                     .card__subtitle
                        p.card__subtitle-p 
                           | #{item.subtitle !== undefind ? item.subtitle : ''}
